.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.jsgrid-grid-header {
    text-align: center;
    border-collapse: collapse;
    background: #ebebeb;
}

.jsgrid-row-item:hover {
    background: #9fcdf4;
}

th, td {
    padding: 10px;
    border: 1px solid #d1d1d1;
    text-align: center;
    font-size: 14px;
}

.pagebutton {
    margin-right: 5px;
    margin-top: 5px;
}

.currentpage {
    background-color: dodgerblue;
    color: white;
}
