@page "/"

@inject IUriHelper uriHelper
@inject SisWeb.Services.Session.ISessionHelper session
@inject SisWeb.Services.Authentication.IUserService userService
@inject IJSRuntime jsRuntime

@using ChartJs.Blazor.ChartJS
@using SisWeb.Services.Session

<h3>Vítejte @userSession.AuthInformation.FirstName v aplikaci SIS</h3>

@functions {

    private UserSession userSession = null;
    private int counter = 0;

    protected override async Task OnInitAsync()
    {
        userSession = session.GetSession();

        if (!userSession.AuthInformation.IsAuthentized)
        {
            uriHelper.NavigateTo("/login");
        }

        base.OnInitAsync();
    }

    protected override void OnInit()
    {
        userSession = session.GetSession();

        //#if DEBUG
        //userSession.AuthInformation.Username = "tomasoplt";
        //userSession.AuthInformation.Password = "heslo";
        //userSession.AuthInformation.IsAuthentized = true;
        //userSession.AuthInformation.Email = "tomas.oplt@seznam.cz";
        //userSession.AuthInformation.FirstName = "Tomas";
        //userSession.AuthInformation.Lastname = "Oplt";
        //userSession.AuthInformation.Tel = "123456789";
        //userSession.BaseUri = uriHelper.GetBaseUri().TrimEnd('/');
        //userSession.Localities = new List<Services.Dto.Sis.LocalityModelDto>();
        //Services.Dto.Sis.LocalityModelDto loc = new Services.Dto.Sis.LocalityModelDto();
        //loc.LocalityId = 1;
        //loc.LocalityName = "test";
        //loc.IsLocal = true;
        //loc.DbCatalog = "SIS";
        //loc.DbServer = ".\\SQLEXPRESS";

        //userSession.Localities.Add(loc);
        //userService.FillLocality(loc);

        //#endif

        //if (!userSession.AuthInformation.IsAuthentized)
        //{
        //    uriHelper.NavigateTo("/login");
        //    return;
        //}

        base.OnInit();
    }

    protected override void OnAfterRender()
    {
        jsRuntime.Resize();

        base.OnAfterRender();
    }
}

