@page "/login"
@inject IUriHelper uriHelper
@inject SisWeb.Services.Authentication.IUserService userService
@inject SisWeb.Services.Session.ISessionHelper session
@using SisWeb.Services.Session

<div class='col-12'>
    <div class="page-title">
        <div class="float-left">
            <h5 class="title">Login</h5>
        </div>
    </div>
</div>

<div class="container">
    <div class="d-flex justify-content-center h-150">
        <div class="card">
            <article class="card-body">

                <h4 class="card-title mb-4 mt-1">Sign in</h4>

                <div class="form-group">
                    <label>Přihlašovací jméno</label>
                    <input id="username" name="" value=@username class="form-control" placeholder="username" onchange=@OnUsernameChanged type="text" />
                </div>

                <div class="form-group">
                    <label>Heslo</label>
                    <input class="form-control" value=@password placeholder="******" type="password" onchange=@OnPasswordChanged />
                </div>

                <div class="form-group">
                    <button onclick="@(() =>@LoginUser())" class="btn btn-primary btn-block"> Login  </button>
                </div>

                <div class="form-group">
                    <strong>@message</strong>
                </div>

            </article>
        </div>
    </div>
</div>


@functions {
    string username { get; set; } = "";
    string password { get; set; } = "";
    string message { get; set; } = "";

    protected override async Task OnInitAsync()
    {
        base.OnInit();
    }

    void OnUsernameChanged(UIChangeEventArgs changeEvent)
    {
        username = (string)changeEvent.Value;
    }

    void OnPasswordChanged(UIChangeEventArgs changeEvent)
    {
        password = (string)changeEvent.Value;
    }

    async void LoginUser()
    {
        try
        {
            UserSession userSession = session.GetSession();
            var result = await userService.LoginUser(username, password, true);
            if (result.IsAuthentized)
            {
                userSession.AuthInformation.Username = username;
                userSession.AuthInformation.Password = password;
                userSession.AuthInformation.IsAuthentized = true;
                userSession.AuthInformation.Email = result.Email;
                userSession.AuthInformation.FirstName = result.FirstName;
                userSession.AuthInformation.Lastname = result.Lastname;
                userSession.AuthInformation.Tel = result.Tel;
                userSession.BaseUri = uriHelper.GetBaseUri().TrimEnd('/');
                
                // Save session information
                session.SaveSession(userSession);

                // Load localities
                userSession.Localities = await userService.GetUserLocalities(userSession.AuthInformation.Username, userSession.AuthInformation.Password, true);
                session.SessionDescription = userSession.Guid;
                
                // Save session information
                session.SaveSession(userSession);

                // Vrat se na uvodni stranku
                uriHelper.NavigateTo("/");
            }
            else
            {
                message = "Chybné uživatelské jméno nebo heslo";
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            message = ex.Message;
            StateHasChanged();
        }
    }
}
